.name{
    height: 100px;
    /*padding-left: 30px*/
    background-color: #4AAAA5;
    width:200px;
}

.tnbar{
	padding: 20px;
}

.rightNavbr{
	margin-right: 70px;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}